<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<!--郭兆龙-->
<head>
    <meta charset="UTF-8">
    <script type="text/javascript" src="/jquery/jquery-1.12.4.min.js"></script>
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <title>讨论组</title>
</head>
<body>
<div class="col-md-12">
    <div class="collapse navbar-collapse">
        <div>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/index">首页</a></li>
                <li class="active"><a th:href="@{/blog}">博客</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="container">
	<div id="content" class="col-md-6 col-md-offset-2">
		<div class="forumdiv">
			<div class="menu-font">
				<span class="h3">讨论组</span>
			</div>
			<div class="widget" th:each="prod:${chat}">
				<hr />
                <!--<img src="/img/dierzu.png" />-->
				<div class="h4">
					<a class="h4" th:href="@{'/ct/'+${prod.cname}}" th:text="${prod.cname}"></a>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="col-md-12">
</div>
</body>
</html>