<!DOCTYPE html>
<!--胡玉浩-->
<!--前台页面-->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>帖子</title>
    <script type="text/javascript" src="/jquery/jquery-1.12.4.min.js"></script>
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>

<div class="col-md-12">
    <ul class="nav navbar-nav navbar-right">
        <li><a href="/index">首页</a></li>
        <li></li>
        <li><a href="/community/blog/index">博客</a></li>
        <li class="active"><a href="">讨论组</a></li>
        <li><a title="登录" href="/login"><span class="glyphicon glyphicon-log-in">登录</span></a></li>
        <li></li>
    </ul>
</div>

<!--添加新帖子-->

<div class="container">
    <div><a th:href="@{'/ct/'+${name}+'/add'}">添加新帖子</a></div>
    <div class="col-md-8,col-md-offset-4">
        <table class="table-content">
            <tr th:each="prod: ${blogs}">
                <!--帖子标题-->
                <td class="col-md-8">
                    <a th:href="@{'/ct/'+${chatname}+'/'+${prod.bid}}" th:text="${prod.btittle}">
                    </a>
                </td>
                <!--发帖人-->
                <td class="col-md-2" th:text="${prod.getUserInfo().getUsername()}"></td>
            </tr>
        </table>
    </div>
</div>

<!--获取讨论组成员-->
<div class="container">
    <table border="1">
        <tr th:each="u: ${userName}">
            <td th:text="${u.username}"></td>
        </tr>
    </table>
</div>

</body>
</html>