<!DOCTYPE html>
<html lang="en">
<!--郭兆龙-->
<head>
    <meta charset="UTF-8">
    <script type="text/javascript" src="/jquery/jquery-1.12.4.min.js"></script>
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <title>用户信息</title>
    <script>
        function add(uid) {
            alert(uid);
            $.ajax({
                url: '/manage/chat/setHead',
                type: 'post',
                data: {
                    uid: uid
                },
                success: function (result) {
                    window.location.reload();
                }
            })
        }
    </script>
</head>
<body>
<div class="container">
    <div id="content" class="col-md-6 col-md-offset-2">
        <div class="forumdiv">
            <div class="menu-font">
                <span class="h3">用户</span>
            </div>
            <div class="widget" th:each="prod:${users}">
                <hr />
                <div class="h4">
                    <span th:text="${prod.username}"></span>

                    <ul class="nav navbar-right">

                            <button class="btn btn-default" th:onclick="'add(\''+${prod.uid}+'\')'">
                            赋予权限
                            </button>


                        <button class="btn btn-default" >
                            删除用户
                        </button>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>